<div class="container profile-container" *ngIf="currentUser">
  <header class="jumbotron">
    <h3>
      <strong>{{ currentUser.username }}</strong> Profile
    </h3>
  </header>
  <div class="profile-info">
    <p>
      <strong>Email:</strong>
      {{ currentUser.email }}
    </p>
    <strong>Roles:</strong>
    <ul>
      <li *ngFor="let role of currentUser.roles">{{ role }}</li>
    </ul>
  </div>
</div>
<div *ngIf="!currentUser" class="login-message">
  <p>Please login to view your profile.</p>
</div>
